<section class="section" id="experience">
    <h1 id="experience-title">Work experience:</h1>
    <div class="zoom operations" data-id="element-appear">
      <div class="wrapper">
        <div class="operations__tab-container">
          <button
            class="btn operations__tab step--1 operations__tab--active"
            data-tab="1"
          >
          General Motors
          </button>
          <button class="btn operations__tab step--2" data-tab="2">
          Ford Motors
          </button>
          <button class="btn operations__tab step--3" data-tab="3">
          Dice
          </button>
          <button class="btn operations__tab step--4" data-tab="4">
          Florida State
          </button>
        </div>
      </div>
      <div
        class="operations__content operations__content--1 operations__content--active"
      >
        <h1>Process Engineer <span>@General Motors</span></h1>
        <h3>August 2017 - Present</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
      <div class="operations__content operations__content--2">
        <h1>Design Engineer <span>@Ford Motors</span></h1>
        <h3>September - August 2017</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
      <div class="operations__content operations__content--3">
        <h1>Engineering Co-op <span>@Dice</span></h1>
        <h3>May - August 2013</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
      <div class="operations__content operations__content--4">
        <h1>Teaching Assistant <span>@FSU</span></h1>
        <h3>September - April 2013</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
    </div>
</section>